Developer
===============================================
compiler = C:\Windows\Microsoft.NET\Framework64\v4.0.30319
launcher = main

System
===============================================
output_log = W:\C# Compiler Server\FileSystem\output_log.txt
logs = W:\C# Compiler Server\FileSystem\Logs
libraries = W:\C# Compiler Server\Libraries
resources = W:\C# Compiler Server\Resources

User
===============================================
theme = black01